<!DOCTYPE html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
  </head>
  <body>
    <h1>Games</h1>
    <ul>
      <% for(let game of games) { %>
      <li><%= game.name %></li>
      <% } %>
    </ul>
  </body>
</html>
