<!DOCTYPE html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
  </head>
  <body>
    <h2>Welcome!</h1>
    <p>
      Welcome to the aggregated video game backlog, where you can see a list of
      all games users have been playing lately!
    </p>
    <p>
      Below are the most recently added games, head over to the Games page for a
      full list!
    </p>
    <ul>
      <% for (let game of games) { %>
      <li><%=game.name %></li>
      <% } %>
    </ul>
  </body>
</html>
